@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl md:text-5xl font-bold;
  }
  h2 {
    @apply text-2xl md:text-3xl font-bold;
  }
  h3 {
    @apply text-xl md:text-2xl;
  }
  h4 {
    @apply text-base md:text-lg;
  }
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  @apply flex flex-col justify-center items-start max-w-3xl px-4 py-8 mx-auto 2xl:max-w-5xl;
}
